.support-entry{
    height: 100%;
    overflow: auto;
    .header-area{
        background-color: @dark-background;
    }
    .hero-banner-area{
        background-image: url("@{img-root}/club-banner.png");
        background-repeat: no-repeat;
        background-position: center center;
        .center-block{
            box-sizing: border-box;
            padding:96px 20px;
        }
        .title{
            font-size: 24px;
            line-height: 64px;
            font-weight: bold;
            color:@primary-title-color;
        }
        .intro{
            font-size: 16px;
            line-height: 96px;
            color:@primary-text-color;
        }
        .item{
            display:flex;
            padding-bottom:30px;
            .icon{
                width: 24px;
                height: 24px;
                &.demo{
                    background: url("@{img-root}/feature-icon/demo.png") no-repeat center center;
                }
                &.train{
                    background: url("@{img-root}/feature-icon/train.png") no-repeat center center;
                }
                &.support{
                    background: url("@{img-root}/feature-icon/support.png") no-repeat center center;
                }
                &.bug-fix{
                    background: url("@{img-root}/feature-icon/bug-fix.png") no-repeat center center;
                }
            }
            .item-detail{
                margin-left:12px;
                .item-title{
                    font-size: 16px;
                    line-height: 24px;
                    color:@primary-text-color;
                }
                .item-intro{
                    margin-top:4px;
                    font-size: 12px;
                    line-height: 24px;
                    color:@text-color-light;
                }
            }
        }
        .raised-button{
            cursor: pointer;
            margin-top:16px;
            background-image: linear-gradient(-45deg, #48B1FC 0%, #44EAC3 100%);
            border-radius: 4px;
            font-size: 14px;
            color: #FFF;
            line-height: 40px;
            text-align: center;
            height: 40px;
            width: 160px;
            box-shadow: 0 8px 48px 0 rgba(72, 176, 252, 0.50);
            transition:all 0.3s;
            &:hover{
                transform:translateY(1px);
                box-shadow: 0 6px 32px 0 rgba(72, 176, 252, 0.40);
            }
        }
    }
    .develop-area{
        height: @area-height;
        background-image: url("@{img-root}/develop-banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        .develop-panel{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        .left-area,.right-area{
            width: 45%;
            color:#fff;
            text-align: center;
            .icon{
                width: 48px;
                height: 48px;
                margin: 0 auto;
                &.plugin{
                    background: url("@{img-root}/feature-icon/plugin-develop.png") no-repeat center center;
                }
                &.custom{
                    background: url("@{img-root}/feature-icon/custom-develop.png") no-repeat center center;
                }
            }
            .title{
                font-size: 24px;
                font-weight: bold;
                line-height: 96px;
            }
            .detail{
                font-size: 14px;
                font-weight: lighter;
                line-height: 32px;
            }
        }
        .devide-area{
            width: 10%;
            height: 200px;
            .devide-line{
                height: 200px;
                width: 1px;
                background: rgba(255,255,255,0.3);
                margin:0 auto;
            }
        }
    }
    .contact-area{
        height: @area-height;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .title{
            font-size: 24px;
            font-weight: bold;
            line-height: 48px;
            color:@primary-title-color;
            text-align: center;
            margin-bottom:40px;
        }
        .card-area{
            display: flex;
            .card{
                
                margin:20px;
                width: 360px;
                height: 240px;
                padding-left:64px;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                flex-direction: column;
                background: #FFFFFF;
                box-shadow: 0 20px 64px 0 rgba(18,40,51,0.04);
                border-radius: 2px;
                .label{
                    font-size: 16px;
                    line-height: 40px;
                    color:@text-color-light;
                }
                .detail{
                    font-size: 18px;
                    line-height: 48px;
                    color:@primary-text-color;
                }
                &.phone{
                    background-image: url("@{img-root}/phone.png");
                    background-repeat: no-repeat;
                    background-position: right center;
                }
                &.mail{
                    background-image: url("@{img-root}/mail.png");
                    background-repeat: no-repeat;
                    background-position: right center;
                }
                &.qq{
                    background-image: url("@{img-root}/qq.png");
                    background-repeat: no-repeat;
                    background-position: right center;
                }
            }
        }
    }
}