@primary-color: #58F;
@secondary-color: #F58;

@primary-text-color: rgba(0,0,0,0.87);
@primary-text-color-light: rgba(255,255,255,0.87);
@secondary-text-color: rgba(0,0,0,0.54);
@secondary-text-color-light: rgba(255,255,255,0.54);

@hint-text-color: rgba(0,0,0,0.38);
@disabled-text-color: rgba(0,0,0,0.38);

@divider-color: rgba(0,0,0,0.12);
@divider-color-light: rgba(255,255,255,0.12);

@border-color: rgba(0,0,0,0.12);
