@font-sans-serif: "-apple-system", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Open Sans", "Noto Sans", "Helvetica Neue", "Hiragino Sans GB", "Microsoft Yahei", Arial, sans-serif;
@font-serif: Georgia, "Times New Roman", Times, serif;
@font-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

@font-size-xs: 10px;
@font-size-s: 12px;
@font-size: 14px;
@font-size-l: 16px;
@font-size-xl: 20px; 

@line-height: 20px;
@line-height-l: 24px;
@line-height-xl: 28px;